language: node_js
node_js:
  - 14
cache:
  directories:
  - node_modules
env:
  - CI=true
script:
  -npm run build-storybook
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  local_dir: storybook-static
  on:
    branch: dev_test